#a td {
	width: 50px;
	height: 50px;
	font-size: 35px;
	border: 1px black solid;
	text-align: center;
}

#text2{
	color: #A8A8A8;
}
#text3{
	color: #AFAFAF;
}
#text4{
	color: #B8B8B8;
}
#text5{
	color: #BFBFBF;
}
#text6{
	color: #C8C8C8;
}
#text7{
	color: #CFCFCF;
}
#text8{
	color: #D8D8D8;
}